// Add common styles for the entire site here
html {
    font-size: 10px; // This makes using rem easier (x10)
    body {
        // LINKS
        a:link,
        a:visited,
        a:hover,
        a:active,
        a:focus {
            font-weight: $link-font-weight;
        }
        // BUTTONS
        .btn-main {
            @extend %btn-main;
        }
        .btn-inactive {
            @extend %btn-inactive;
        }
        // MODULES
        .module {
            margin: $spacer 0;
            &.no-top-margin {
                margin-top: 0;
            }
            img {
                max-width: $full-width; // Responsive images within modules (especially useful for content modules)
                height: auto;
            }
        }
        // Equal spacing for headings & modules
        select,
        input,
        p,
        span {
            font-family: $font-family-montserrat;
        }
        p {
            &:last-of-type {
                @extend %last-of-type;
            }
        }
        .module-title {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-top: $no-margin;
            }
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: $font-family-base;
            margin-top: $spacer;
        }
        // LAYOUT
        main {
            width: $full-width;
        }
    }
    .blogz {
        padding: 0 15px;
        flex-wrap: wrap !important;
        margin-top: 80px !important;
        @include mq(tablet) {
            margin-top: unset;
        }
        .article-card {
            &:nth-child(3n) {
                margin-right: 0 !important;
            }
            @include mq(tablet) {
                width: 30.98% !important;
                margin-bottom: 75px !important;
            }
        }
    }
}