.resources-preview-container{
    margin-top: 31px;
    @include mq(tablet){
        margin-top: 100px;
    }
    .resources-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        @include mq(tablet){
            flex-direction: row;
        }
        .resources-info{
          @include max(767){
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
          }
            .resources-title{
                span{
                    font-family: $font-family-base;
                    font-style: italic;
                    font-weight: 900;
                    font-size: 30px;
                    color: #1E5C6B;
                    text-transform: uppercase;
                    @include mq(tablet){
                        font-size: 35px;
                    }
                }
            }
            .resources-description{
                width: 255px;
                margin-top: 45px;
                @include mq(tablet){
                    width: unset;
                    margin: 0;
                }
                p{
                    font-style: normal;
                    font-weight: 550;
                    font-size: 14px;
                    line-height: 21px;
                    color: #000000;
                    text-align: center;
                    @include mq(tablet){
                        text-align: left;
                        width: 99%;
                    }
                }
            }
        }

        .header-button{
            margin-top: 32px;
            @include mq(tablet){
               margin: 0;
            }
            a{
                &:hover{
                    text-decoration: none;
                }
                .blog-btn{
                    width: 109px;
                    height: 50px;
                    background: #EB7466;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    color: white;
                    font-weight: 900;
                    font-size: 14px;
                    font-style: italic;
                    span{
                        font-family: $font-family-base;
                    }
                }
            }
        }
    }

    .articles-container{
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        @include mq(tablet){
            margin-top: 46px;
            flex-wrap: unset;
        }
        .article-card{
            margin-top: 32px;
            width: 100%;
            &:first-child{
                margin-top: 0;
            }
            @include mq(tablet){
                margin: 0 38px 0 0;
                width: 32%;
                &:last-child{
                    margin-right: 0;
                }
            }
            .article-header{
                margin: 0px -15px;
                @include mq(tablet){
                    margin: 0;
                }
                .article-image{
                    img{
                        width: 100%;
                    }
                }
            }

            .article-body{
                min-height: 155px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .article-title{
                    padding-top: 29px;
                    min-height: 77px;
                    span{
                        font-style: italic;
                        font-weight: 900;
                        font-size: 18px;
                        line-height: 103%;
                        text-transform: uppercase;
                        color: #1E5C6B;
                        font-family: $font-family-base;
                    }
                }
                .article-description{
                    span{
                        font-style: normal;
                        font-weight: 550;
                        font-size: 14px;
                        line-height: 19px;
                        color: rgba(0, 0, 0, 0.94);
                        opacity: 0.5;
                    }
                }

                .article-btn{
                    padding-top: 47px;
                    @include mq(tablet){
                        padding-top:30px;
                    }
                    
                    a{
                        &:hover{
                            text-decoration: none;
                        }
                        .read-more-btn{
                            span{
                                font-style: italic;
                                font-weight: 900;
                                font-size: 14px;
                                line-height: 17px;
                                text-align: center;
                                text-transform: uppercase;
                                color: #EB7466;
                                font-family: $font-family-base;
                            }
                        }
                    }
                }
            }
        }
    }

    .art-container{
        margin-top: 30px;
    }
}
