.avaliable-jobs-container {
    margin-top: 32px;
    @include mq(tablet){
        margin-top: 100px;
    }
    .module-header{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        height: 132px;
        @include mq(laptop){
            flex-direction: row;
            height: unset;
        }
        .module-info{
            .module-title{
                span{
                    font-family: 'Futura';
                    font-style: italic;
                    font-weight: 900;
                    font-size: 32px;
                    color: #1E5C6B;
                    @include mq(tablet){
                        font-size: 35px;
                    }
                }
            }
            .module-desc{
                display: flex;
                justify-content: center;
                margin: 8px 0px 19px;
                @include mq(tablet){
                    display: unset;
                    justify-content: unset;
                }
                span{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 550;
                    font-size: 14px;
                    line-height: 19px;
                    color: rgba(30, 92, 107, 0.5);
                }
            }
        }

        .header-button{
            a{
                color: white;
                font-weight: 700;
                &:hover{
                    text-decoration: none;
                }
                .jobs-btn{
                    background: #399EAC;
                    border-radius: 4px;
                    width: 189px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-style: italic;
                    font-weight: 750;
                    font-size: 14px;
                    span{
                        font-family: 'Futura';
                    }
                }
            }
        }
    }
    .jobs-container{
        display: flex;
        flex-direction: column;
        margin-top: 48px;
        margin-bottom: 17px;
        @include mq(tablet){
            flex-direction: row;
            margin-top: 24px;
        }

        .job-card{
            width: 100%;
            background: #FFFFFF;
            border: 1px solid rgba(210, 213, 219, 0.35);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
            padding: 30px 28px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 0 24px 0;
            &:last-child{
                margin: 0;
            }
            @include mq(laptop){
                margin: 0 13px 0 0;
                flex-direction: row;
                align-items: center;
                height: 224px;
                &:last-child{
                    margin: 0;
                }
            }
          
            .job-header{
                background: #FFFFFF;
                margin: -30px -28px 28px -28px;
                @include mq(tablet){
                    margin: 0 20px 0 0;
                    border: 1px solid rgba(210, 213, 219, 0.35);
                    border-radius: 4px;
                }
                .featured-img{
                    width: 100%;
                    @include mq(tablet){
                        width: 152px;
                    }
                    height: 155px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .job-body{
                display: flex;
                flex-direction: column;
                @include mq(laptop){
                    justify-content: space-between;
                    min-height: 144px;
                }
                .owner{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    color: #1E5C6B;
                }
                .title{
                    font-family: Futura;
                    font-style: italic;
                    font-weight: 750;
                    font-size: 20px;
                    color: #1E5C6B;
                    line-height: 103%;
                }
                .location-div{
                    .location{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        color: #399EAC;
                        margin-left: 8px;
                    }
                }
                .price-div{
                    margin: 10px 0 0 3px;
                    .cost{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        color: #399EAC;
                        margin-left: 8px;
                    }
                }
               
                .positions{
                    margin-top: 16px;
                    color: #1E5C6B;
                    opacity: 0.5;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                }
            }
        }
    }
}
