.page-template-page-jobs {
    .module-page>div:first-child {
        max-width: unset;
        padding: 0;
    }
}

.jobs {
    &__title {
        margin-top: 85px;
        h2 {
            font-weight: 750;
            font-size: 35px;
            line-height: 103%;
            color: $darkBlue;
        }
        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: black;
        }
    }
    &__container {
        padding: 24px 0;
        background-color: $lightGray;
        &__single {
            background-color: white;
            border: 1px solid rgba(210, 213, 219, 0.35);
            box-sizing: border-box;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
            margin: 0 -15px;
            @include mq(tablet) {
                margin: unset;
            }
            &__data {
                border-bottom: 1px solid #E5E5E5;
                padding-bottom: 24px;
                @include mq(tablet) {
                    border-bottom: unset;
                    padding-bottom: unset;
                    min-width: 434px;
                }
                &__img {
                    border: 1px solid $lightGray;
                    box-sizing: border-box;
                    border-radius: 4px;
                    padding: 25px;
                    margin-right: 12px;
                    @include mq(laptop) {
                        margin-right: 29px;
                    }
                }
                .job__name {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 152.9%;
                    color: $darkBlue;
                }
                .job__title {
                    // font-style: italic;
                    font-weight: 750;
                    font-size: 20px;
                    line-height: 103%;
                    color: $darkBlue;
                    margin-top: 5px;
                }
                .job__locationPrice {
                    svg {
                        height: 14px;
                        width: 14px;
                    }
                    p {
                        margin-left: 14px;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 152.9%;
                        color: $lightBlue;
                    }
                }
            }
            &__text {
                width: 100%;
                @include mq(laptop) {
                    width: 25%;
                }
                &__desc {
                    font-size: 14px;
                    line-height: 19px;
                    font-family: 'Montserrat';
                    font-weight: 400;
                }
                &__sub {
                    padding-top: 17px;
                    font-size: 12px;
                    margin-bottom: 5px !important;
                    @include mq(laptop) {
                        padding-top: 0;
                    }
                }
            }
        }
    }
    &__otherDetails {
        &__single {
            svg {
                height: 14px;
                width: 14px;
            }
            p {
                margin-left: 14px !important;
                font-weight: normal;
                font-size: 12px;
                line-height: 152.9%;
                color: $lightBlue;
            }
        }
    }
    &__filters {
        &__select {
            font-weight: normal;
            font-size: 12px;
            color: black;
            select {
                padding: 11px 20px;
                background: $lightGray;
                border-radius: 4px;
                margin-right: 7px;
                border: none;
                width: 100%;
                font-weight: bold;
                font-size: 14px;
                color: black;
            }
        }
        &__submit {
            flex-basis: 100%;
            @include mq(laptop) {
                flex-basis: 12%;
            }
            button,
            input {
                background: none;
                border: none;
            }
            input {
                font-family: $font-family-base;
                color: white;
                // font-style: italic;
                font-weight: 750;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: $starOrange;
            }
        }
        &__location {
            flex-basis: 100%;
            @include mq(laptop) {
                flex-basis: 22%;
            }
        }
        &__position {
            flex-basis: 100%;
            @include mq(laptop) {
                flex-basis: 22%;
            }
        }
        &__hours {
            flex-basis: 100%;
            @include mq(laptop) {
                flex-basis: 22%;
            }
        }
        &__salary {
            flex-basis: 100%;
            @include mq(laptop) {
                flex-basis: 22%;
            }
        }
    }
}

.filterJobs__container {
    display: none;
    @include mq(tablet) {
        display: flex;
    }
}

.filter_slide {
    background: #EB7466;
    border-radius: 4px;
    border: none;
    color: white;
    width: 100%;
    padding: 11px 30px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    @include mq(tablet) {
        display: none;
    }
}

.filters__jobs__available {
    font-weight: normal;
    font-size: 12px;
    line-height: 152.9%;
    color: #000000;
    opacity: 0.5;
}

.rotate__arrow,
.arrow_filter {
    transition: .2s all ease-in-out;
}

.rotate__arrow {
    transform: rotate(90deg);
}

.mobile-trip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
    @include mq(laptop) {
        display: unset;
        justify-content: unset;
        align-items: unset;
        margin-top: unset;
    }
    .apply__button {
        padding: 9.5px 21px;
    }
}

.desktop-details {
    display: none;
    @include mq(laptop) {
        display: block;
    }
}

.mobile-details {
    @include mq(laptop) {
        display: none;
    }
}

.positions {
    span {
        margin-top: 16px;
        color: #1e5c6b;
        opacity: .5;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
    }
}

.seperator {
    display: none;
    @include mq(laptop) {
        display: block;
        border: 1px solid #E5E5E5;
    }
}